<div id="participant-{{participantId}}" class="row participant">
    <div class="video-view">
        <video autoplay></video>
        <audio autoplay></audio>
    </div>
    <div class="info">

    </div>
</div>